html{
    height: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

.top_container{
    display: block;
    position: relative;
    background-color: black;
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}

.top_bar{
    position: absolute;
    display: block;
    float: left;
    position: relative;
    margin-left: 50px;
    margin-top: 7px;
}

#top_bar li {
    position: relative;
    display: block;
    float:left;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin-right: 20px;
}

#top_bar li a{
    color: white;
    font-size: 1.0rem;
    text-decoration: none;
    text-transform: uppercase;
}

.lang{
    display: inline-block;
    position: absolute;
    left: 1310px;
    top: 9px;
}

select{
    background-color:ghostwhite;
    height: 25px;
    width: 110px;
    
}

.nav{
    position: absolute;
    top: 50px;
    left: -10px;
}

h4{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-family: fantasy;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 4px;
    letter-spacing: 2px;
    word-spacing: 2px;
    left: 570px;
    text-transform: capitalize;
}

#logo{
    position: relative;
    display: block;
    width: 120px;
    left: 230px;
    top: 10px;
}

.nav ul li{
    position: relative;
    display: block;
    width: 100px;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    bottom: 22px;
    margin-top: 1px;
    left: 410px;
}


.nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul li a:hover{
    color: orange;
    border-bottom: 1px solid orange;
}

.icon{
    position: relative;
    display: inline-block;
    left: 1080px;
    bottom: 45px;
}

#search{
    position: relative;
    display: inline-block;
    background-color: gainsboro;
    padding: 5px 5px 5px 5px;
    
}

#radio{
    position: relative;
    display: inline-block;
    background-color: orange;
    padding: 5px 5px 5px 5px;
    top: 1px;
}

text{
    font-size: 1.1rem;
    position: relative;
    top: 1px;
    left: 10px;
    text-transform: capitalize;
}

#main{
    width: 100%;
    position: relative;
    top: 120px;
}

#intro>h1{
    color: white;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 3rem;
    bottom: 400px;
    left: 200px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-family: sans-serif;
}

#intro h2{
    display: inline-block;
    position: absolute;
    bottom: 370px;
    left: 200px;
    color: white;
    background-color: black;
    padding: 4px 10px 4px 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
}

#intro div{
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 430px;
    
}

#intro div button{
    display: inline-block;
    left: 200px;
    position: absolute;
    font-size: 1.2rem;
    color: black;
    background-color: beige;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    padding-right: 25px;
}

.img_container{
    display: block;
    float: left;
    
}

#intro div i{
    position: absolute;
    color: black;
    display: inline-block;
    left: 317;
    padding-top: 6px;
}

.img_container{
    position: absolute;
    display: inline-block;
    left: 80;
    right: auto;
    top: 800px;
}

.img1{
    position: absolute;
    display: inline-block;
/*    border: 10px solid green;*/
}

.img1 img{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
/*    border: 3px solid;*/
}

.img1 div{
    position: absolute;
    display: inline-block;
    background-color: rgba( 36, 36, 36, 0.5 );
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: 0.5s ease;
}

.img1 div h3{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
}

.img1:hover #t_1{
    opacity: 1;
}

.img2{
    position: absolute;
    display: inline-block;
    left: 300px;
/*    border: 3px solid green;*/
}

.img2 img{
    position: absolute;
    display: inline-block;
    width: 300px;
/*    border: 5px solid red;*/
} 

.img2 div{
    position: absolute;
    background-color: rgba( 36, 36, 36, 0.5 );
    width:300px;
    height: 300px;
    transition: 0.5s ease;
    opacity: 0;
}

.img2 div h3{
    position: absolute;
    display: inline-block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: sans-serif;
}

.img2:hover #t_2{
    opacity: 1;
}

.img3{
    position: absolute;
    display: inline-block;
    left: 600px;
}

.img3 img{
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 600px;
}

.img3 div{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: rgba( 36, 36, 36, 0.5 );
    opacity: 0;
    transition: 0.5s ease;
}

.img3 div h3{
    position: absolute;
    display: inline-block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: sans-serif;
}

.img3:hover #t_3{
    opacity: 1.0;
}

.img4{
    position: absolute;
    display: inline-block;
    left: 1000px;
}

.img4 img{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.img4 div{
    position: absolute;
    display: inline-block;
    background-color: rgba( 36, 36, 36, 0.5 );
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: 0.5s ease;
}

.img4 div h3{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img4:hover #t_4{
    opacity: 1.0;
}

.img5{
    position: absolute;
    display: inline-block;
    top: 300px;
}

.img5 img{
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 300px;
}

.img5 div{
    position: absolute;
    background-color: rgba( 36, 36, 36, 0.5 );
    width: 600px;
    height: 300px;
    opacity: 0;
    transition: 0.5s ease;
}

.img5 div h3{
    position: absolute;
    display: inline-block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: sans-serif;
}

.img5:hover #t_5{
    opacity: 1.0;
}

.img6{
    position: absolute;
    display: inline-block;
    top: 300px;
    left: 1000px;
}

.img6 img{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.img6 div{
    position: absolute;
    display: inline-block;
    background-color: rgba( 36, 36, 36, 0.5 );
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: 0.5s ease;
}

.img6 div h3{
    position: absolute;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img6:hover #t_6{
    opacity: 1.0;
}

.page_3{
    position: relative;
    top: 800px;
}

.page_3 div p{
    position: ;
    display: block;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase; 
}

.page_3 div hr{
    position:relative;
    margin: 20px 450px 0px 450px;
    height: 5px;
    background-color: black;
}

.button{
    position: relative;
    text-align: center;
    top: 10px;
}

.button button{
    width: 100px;
    height: 25px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

button:hover{
    background-color: rgba( 235, 108, 45, 0.8 );
}

.figure_1{
    position: absolute;
/*    display: inline-block;*/
    column-count: 4;
    top: 1600px;
/*    border: 1px solid red;*/
    left:20%;
    transform: translate(-12%)
}

.figure_1 figure{
    display: inline-block;
}


.figure_1 figure img{
    width: 273;
    height: 350px;
    margin-top: 20px;
    padding: 0 5px 0 5px;
}

.figure_1 figure figcaption{
    top: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: sans-serif;
}

.figure_2{
    position: absolute;
    column-count: 3;
    top: 2450px;
/*    text-align: center;*/
    margin-left: 150px;
}

.figure_2 figure{
    position: relative;
}

.figure_2 figure img{
    position: relative;
    display: inline-block;
    width: 368px;
    height: 200px;
    padding:0 5px;
}

.page_4{
    position: relative;
    top:2050px;
}

.page_4 div p{
    position: absolute;
    display: block;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    bottom: 25px;
}

.page_4 div hr{
    position:relative;
    margin: 20px 450px 0px 450px;
    height: 5px;
    background-color: black;
}

.img_4{
    position: absolute;
    top: 2900px;
/*    column-count: 3;*/
    left: 160px;
/*    text-align: center;*/
}

.img_4 figure{
    position: relative;
    display: block;
/*    border: 1px solid gray;*/
    float: left;
    margin-right: 80px;
}

.img_4 figure img{
    width: 320px;
    height: 450px;
}

.img_4 figure figcaption{
    width: 300px;
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.2;
}

.img_4 figure figcaption:nth-child(3){
    font-weight: 100;
    position: relative;
    top: 25px;
    font-family: cursive;
}
.img_4 figure figcaption:nth-child(2){
    position: relative;
    top: 20px;
}

.page_5{
    position: absolute;
    top: 3550px;
    width: 100%;
    height: 500px;
    background-color: rgba( 143, 135, 131, 0.25 )
}

.page_5 p:nth-child(1){
    position: relative;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    top: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}

.page_5 i:nth-child(2){
    position: relative;
    display: inherit;
    font-size: 1.5rem;
    text-align: center;
    top: 60px;
    color: #feb13e
}

.page_5 p:nth-child(3){
    position: relative;
    margin-right: 200px;
    margin-left: 200px;
    top: 90px;
    text-align: center;
    color: rgba( 0, 0, 0, 0.7 )
    
}

.page_5 i:nth-child(4){
    position: relative;
    display: inline;
    font-size: 1.5rem;
    left: 640px;
    top: 110px;
    color: #feb13e;
    border: 1px solid #feb13e;
}

.page_5 p:nth-child(5){
    position: relative;
    display: inline;
    left: 650px;
    top: 105;
    font-size: 1rem;
}

.img_b{
    position: relative;
    display: block;
}

.img_b img{
    position: relative;
    display: inline-block;
    margin-left: 210px;
    top: 170px;
}

.page_5 ul>li{
    position: relative;
    display: block;
    float: left;
    font-size: 2rem;
    margin-left: 210;
    top: 180px;
}

.page_5 ul>li:nth-child(2){
    left: 12px;
}

.page_5 ul>li:nth-child(3){
    left: 30px;
}

.page_5 ul>li:nth-child(4){
    left: 60px;
}





